<nav class="nav-bar">
  <div class="logo">
    <%= image_tag 'lets_talk_movies.png', height: '30', width: '80' %>
  </div>
  <ul>
    <li><i class="fas fa-pen"></i></li>
    <li><i class="fas fa-envelope"></i></li>
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-cog"></i></li>
  </ul>
</nav>