<nav class="nav-bar">
  <i class="fab fa-twitter fa-lg" id="logo"></i>
  <ul>
    <li><i class="fas fa-pen"></i></li>
    <li><i class="fas fa-envelope-square"></i></li>
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-cog"></i></li>
  </ul>
</nav>