@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

$primary-color-light: #50a4e2;
$primary-color-dark: #213246;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6f8;
  font-family: "Roboto", sans-serif;
  position: relative;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  background-color: #fff;
}

li {
  list-style: none;
}

.navbar {
  height: 6rem;
  background-color: $primary-color-light;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color-light;
  height: 6rem;

  ul {
    display: flex;
    padding-right: 1rem;
  }

  li {
    padding: 2rem;
  }

  i {
    color: #63758b;
    font-size: 120%;
  }
}

.who-follow-profile h6 {
  padding-left: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: -0.3rem;
}

.who-follow-profile p {
  padding-left: 1rem;
  color: #63758b;
  font-size: 12px;
}

.cover-img img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.who-follow-profile img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.picture img {
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  min-width: 50px;
  object-fit: cover;
}

.side-nav {
  background-color: $primary-color-dark;

  .current-user {
    display: flex;
    padding: 1rem 0 3rem 0;
  }

  .current-user img {
    margin: 1rem 0 1rem 2rem;
  }

  .current-user h6 {
    padding: 1.5rem 0 0 2.5rem;
    color: #667b90;
  }

  .follow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }

  .stats {
    margin-right: 2rem;
  }

  .stat-name {
    color: #667b90;
  }

  .stat-count {
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }

  .side-links {
    padding: 1rem 0 0;
    width: 100%;
  }

  .links {
    padding: 1rem 0 1rem 2.5rem;
    color: #667b90;
  }

  .links i {
    padding-right: 1rem;
  }

  .active,
  .links:hover {
    color: white;
    background-color: $primary-color-light;
  }

  .links-path:hover {
    color: white;
    background-color: $primary-color-light;
  }
}

.logo {
  padding: 1rem 2rem;
}

.center-form {
  max-width: 500px;
  margin: auto;
}

.signup-form {
  padding: 1rem;
}

.signup-btn {
  width: 100%;
  border-radius: 0.5rem;
  background-color: $primary-color-light;
  padding: 1.5rem;
  font-weight: bolder;
}

.username-label,
.fullname-label,
.cover-label,
.photo-label {
  background-color: #fff;
  width: 100%;
  margin-bottom: 0;
  color: #7c7786;
}

.username-input,
.fullname-input,
.cover-input,
.photo-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $primary-color-light;
  height: 4rem;
  margin-bottom: 2.5rem;
  padding-left: 0.4rem;
}

.cover-input,
.photo-input {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid $primary-color-light;
}

input:focus {
  outline: none;
  border-bottom: 2px solid $primary-color-light;
}

.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 0;
  height: 100vh;
}

.main-body {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 0;
  height: 100vh;

  .tweet-form {
    background-color: white;
    border-radius: 0.5rem;
    width: 98%;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    margin-top: 2rem;
  }

  .compose-new {
    font-weight: bold;
  }

  .text-input {
    width: 100%;
    padding: 1rem 1rem 0;
    border-radius: 5px;
  }

  .text-btn {
    padding: 1rem 2rem;
    color: white;
    background-color: $primary-color-light;
    border-radius: 5px;
    border: none;
  }

  .tweet-body {
    margin-top: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    width: 98%;
    padding: 2rem;
  }

  .tweet-body-header {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e7ebee;
    color: $primary-color-light;
    font-weight: bold;
  }

  .tweet-avatar {
    float: left;
    margin: 0 1rem 2rem 0;
  }

  .tweet-content span {
    font-size: 1.2rem;
  }

  .tweet-content h6 {
    margin-bottom: -0.2rem;
    font-weight: bold;
  }

  .clear {
    clear: both;
  }
}

.like {
  display: flex;
}

.like p {
  padding-left: 0.5rem;
}

aside {
  border-left: 2px solid #e7ebee;
  padding-left: 2rem;

  .follow-header {
    padding-top: 2rem;
    border-bottom: 2px solid #e7ebee;
    margin-bottom: 1rem;
  }

  .who-follow-profile {
    margin-bottom: 1rem;
  }

  .user {
    display: flex;
  }

  .photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.main-user-body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 0;
  height: 100vh;

  .user-body {
    margin: 2rem 0 0 2rem;
    background-color: white;
    border-radius: 0.5rem;
    width: 95%;
    padding: 1rem;
  }

  .user-body-header {
    border-bottom: 2px solid #e7ebee;
    padding: 1rem 0 1.5rem 0;
  }

  .user-avatar {
    float: left;
    margin: 0 1rem 2rem 0;
  }

  .user-content span {
    font-size: 1.2rem;
  }

  .user-content h4 {
    font-size: 1.5rem;
    margin-bottom: -0.1rem;
  }

  .clear {
    clear: both;
  }
}

.user-profile {
  border-left: 2px solid #e7ebee;

  .main-photo-box {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
  }

  .follow-icon {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .space-icon {
    margin-right: 2rem;
  }

  .fa-list {
    margin-left: 2rem;
  }

  .follow-icon img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .profile-details h5 {
    font-weight: bold;
    margin-bottom: -0.3rem;
  }

  .user-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
    border-top: 1px solid #e2e3e5;
    border-bottom: 1px solid #e2e3e5;
  }

  .following-stat {
    padding: 0 1rem;
    border-right: 1px solid #e2e3e5;
    border-left: 1px solid #e2e3e5;
  }

  .opinion-stat {
    padding-right: 1rem;
  }

  .followed-stat {
    padding-left: 1rem;
  }

  .stat-no {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
  }

  .stat-name {
    font-size: 1.5rem;
  }

  .followers-section {
    margin-left: 2rem;
  }

  .followers-header {
    padding-top: 3rem;
    border-bottom: 1px solid #e2e3e5;
  }

  .follower-profile {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .follower-profile h5 {
    font-weight: bold;
    margin-bottom: -0.3rem;
  }

  .follower-avatar {
    display: flex;
  }

  .follower-avatar img {
    margin-right: 1rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  .follow-icons {
    margin-right: 1rem;
  }
}

.cover-img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.time {
  float: right;
  color: #333;
  font-size: 12px;
}
