@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

$primary-color-light: #50a4e2;

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f6f8;
  font-family: "Roboto", sans-serif;
}

input {
  background-color: #fff;
}

#logo {
  color: white;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.center-form {
  max-width: 500px;
  margin: auto;
}

.signup-form {
  padding: 1rem;
}

.twitter-logo {
  color: $primary-color-light;
  padding-top: 3rem;
}

.signup-btn {
  width: 100%;
  border-radius: 0.5rem;
  background-color: $primary-color-light;
  padding: 1.5rem;
  font-weight: bolder;
}

.username-label,
.fullname-label {
  background-color: #fff;
  width: 100%;
  margin-bottom: 0;
  color: #7c7786;
}

.username-input,
.fullname-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $primary-color-light;
  height: 4rem;
  margin-bottom: 2.5rem;
  padding-left: 0.4rem;
}

input:focus {
  outline: none;
  border-bottom: 2px solid $primary-color-light;
}
